.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  padding: 10px 25px;
}

.filters {
  box-shadow: 0px 0px 1px 0px #171a1f12;
  box-shadow: 0px 0px 2px 0px #171a1f1f;
  flex: 1;
  min-width: 200px;
  height: fit-content;
  margin-bottom: 25px;
}

.stocks {
  flex: 5;
}

.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
